@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout h4{
  @apply text-xl md:text-3xl;
}

.layout h5{
  @apply text-lg md:text-2xl;
}

.layout h6{
  @apply text-base md:text-xl text-slate-500;
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
}
