.hero_section_bg{
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(247, 248, 249, 0.00) 0%, #F7F8F9 100%);
}

.card_list_section{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.line{
    position: absolute;
    width: 100%;
}