.orange_vector {
    top: 0;
    left: 0;
    @apply block absolute w-14 md:w-20 h-14 md:h-20;
}

.green_elipsis {
    top: 0;
    right: 3%;
    @apply block absolute w-14 md:w-20 h-14 md:h-20;
}

.danger_vector {
    bottom: 0;
    right: 0;
    @apply block absolute w-14 md:w-20 h-14 md:h-20;
}

.purple_elipsis {
    bottom: 0;
    left: 3%;
    @apply block absolute w-14 md:w-20 h-14 md:h-20;
}

.svg_container {
    display: flex;
    justify-content: space-between;
}

.side_contr {
    @apply container bg-slate-700 w-full rounded-md p-5 md:p-10 md:h-96 relative flex flex-col items-center;
}

.flex_container {
    @apply flex items-start md:items-baseline justify-between flex-col md:flex-row gap-5 mb-2 md:mb-5;
}

.side_sec_card {
    @apply flex items-center justify-center flex-col gap-2 flex-wrap w-48 md:w-52 lg:w-60;
    p {
        overflow-wrap: break-word;
        @apply font-normal text-xs md:text-sm text-center text-white;
    }
}

.elips {
    @apply flex items-center justify-center w-12 h-12 bg-green-500 rounded-full text-white;
}
