.img {
    display: none;
    border-radius: 5px;
    width: 500px;
    height: 400px;
}

.h4{
    @apply text-white uppercase font-bold;
}

@media (min-width: 1024px) {
    .img {
        display: block;
    }
}
